.apvContentHrm1{
    grid-column: 1 / span 8;
    display: grid;
    grid-template-columns: 375px 1125px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border-bottom: 1px solid #7B7B7B;
}
.apvContentHrm1 > div{
    display: flex;
    border-right: 1px solid #7B7B7B;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    background: #EEE;
}
.apvContentHrm1 > div:nth-child(2n) {
    border-right: none;
    background: none;
}

.apvContent > div:last-child {
    border: none;
}

.apvContentHrm1 .column2{
    padding-left: 30px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
.column2 label {
    margin-right: 20px; 
}

.apvContentDetail{
    grid-column: 1 / span 8;
    display: flex;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #7B7B7B;
}

.apvContentDetailComent{
    grid-column: 1 / span 8;
    padding: 30px;
    height: auto;
    /* width: 100%; */
}
.apvContentDetailComent2{
    grid-column: 1 / span 8;
    padding: 30px;
    height: 60px;
    border-bottom: 1px solid #7B7B7B;
}
.apvContentDetailComent3{
    grid-column: 1 / span 8;
    padding: 30px;
    height: 0px;
    border-top: 1px solid #7B7B7B;
}




.apvContentHrm2{
    grid-column: 1 / span 8;
    display: grid;
    grid-template-columns: 375px 375px 750px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border-bottom: 1px solid #7B7B7B;
}
.apvContentHrm2 > div{
    display: flex;
    border-right: 1px solid #7B7B7B;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    background: #EEE;
}
.apvContentHrm2 > div:nth-child(3n) {
    border-right: none;
    background: none;
}

/* .apvContentHrm2 .column2{
    padding-left: 30px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
} */



.apv-content-hrm3{
    grid-column: 1 / span 8;
    display: grid;
    grid-template-columns: 375px 225px 225px 30px 225px 225px 195px;
    /* grid-auto-rows: 60px; */
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border-bottom: 1px solid #7B7B7B;
}
.apv-content-hrm3 > div{
    display: flex;
    height: 80px;
    flex-direction: column;
    justify-content: center;
}
.apv-content-hrm3 .column1{
    background: #EEE; 
}

.apv-content-hrm3 > div:nth-child(1){
    border-right: 1px solid #7B7B7B;
}