.Auth {
    display: flex;
    font-size: 20px;

}

.Auth  button {
    width: 60px;
    height: 40px;
    font-size: 16px;
}

.AuthCategoryBox {
    margin: 20px;
    width: 300px;
    min-height: 400px;
    border: 6px lightgray solid;
    
}

.CategoryList > div {
    margin: 20px 0px;
    border-bottom: 1px lightgray solid;
}

.AuthCategoryBox > div {
    padding: 10px 20px;
}


.AuthUserBox > div {
    padding: 20px;
}


.AuthSettingBox, .AuthUserBox {
    
    margin: 20px;
    min-width: 1000px;
    height: 400px;
    border: 6px lightgray solid;
}

.AuthSettingBox > div {
    padding: 20px;
    /* margin: ; */
}

.settingList {
    height: 100px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 2fr);
    align-items: center;
    
}
