.container {
            
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }  
  
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 560px;
    width: 410px;
    row-gap: 15px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 7px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2);
  }
    
  .closeButton {
    text-align: right;
    right: 410px;
    top: 5.5rem;
    cursor: pointer;
    background-color: white;
    border: none;
  }  