    /* ============================= 나의 대화 말풍선 스타일 ============================= */
        div.me {
        background-color: #CBDDFF;
        border-radius: 10px;
        /* display: flex; */
        /* justify-content: flex-end; */
        max-width: 60%; /* 최대 너비 설정 */
        padding: 10px; /* 내용과 말풍선 경계 사이의 간격 조절 */
        margin: 20px 5px 20px 40%;        
      }
      






      /* ============================= 상대방 대화 말풍선 스타일 ============================= */

        div.other {
        background-color: white;
        border-radius: 10px;
        /* display: flex; */
        /* justify-content: flex-start; */
        max-width: 60%; /* 최대 너비 설정 */
        padding: 10px; /* 내용과 말풍선 경계 사이의 간격 조절 */
        margin: 20px 40% 20px 7px ;
      }

      .talkshadow {
        max-height: 340px; /* 최대 높이 지정 */
        overflow-y: auto; /* 넘치면 스크롤 생성 */
        position: relative;
      }


      /* ============================= 스크롤바 스타일 ============================= */

        /* 스크롤바 전체 스타일 */
        ::-webkit-scrollbar {
          width: 6px; 
        }

        /* 스크롤바 트랙 스타일 */
        ::-webkit-scrollbar-track {
          background-color: #f1f1f1;
        }

        /* 스크롤바 썸네일(막대) 스타일 */
        ::-webkit-scrollbar-thumb {
          background-color: #888;
          border-radius: 5px;
        }

        /* 스크롤바 썸네일(막대) 마우스 hover 시 스타일 */
        ::-webkit-scrollbar-thumb:hover {
          background-color: #6e6d6d;
        }