/* 사원조회 상단 여백 */
.pm-topmenu{
    display: flex;
width: 1520px;
height: 50px;
}

/* 상단 검색 */
.pm-search{
    border-radius: 6px;
    text-align: center;
    margin-left: 1370px;
}


/* 사원 조회 테이블 사이즈 */

.pm-boxresult-table{
    border-collapse: collapse;
    margin: 30px;
    width: 1520px;
    height: 820px;
    border: #7B7B7B solid 1px;
    text-align: center;

font-size: 16px;
}

.pm-boxresult-table th{
    height: 40px;
    background-color: #EEE;
    border: #7B7B7B solid 1px;
}

.pm-boxresult-table th.columnpm1{
    width: 300px;
}
.pm-boxresult-table th.columnpm2{
    width: 300px;
} 
.pm-boxresult-table th.columnpm3{
    width: 300px;
} 
.pm-boxresult-table th.columnpm4{
    width: 300px;
} 
.pm-boxresult-table th.columnpm5{
    width: 300px;
} 
.pm-boxresult-table th.columnpm6{
    width: 300px;
} 
.pm-boxresult-table th.columnpm7{
    width: 300px;
} 

.pm-boxresult-table td{
    height: 25px;
    flex-direction: column;
    justify-content: center;
    border: #7B7B7B solid 1px;
}

/* 사원 카드 테이블 */ 
/* .pm-boxresult-table{
    border-collapse: collapse;
    margin: 30px ;
    width: 1520px;
    height: 820px;
    border: #7B7B7B solid 1px;
    text-align: center;

font-size: 16px;
} */
.pm-card{
    width: 250px;
}

.pm-card-in{
    width: 1062;
}

.pm-column1{
    width: 254px;
    height: 70px;
}
.pm-column2{
    width: 254px;
    height: 10px;
}

.pm-section{
    display: flex;
    margin: 80px 0px 0px 250px;
    width: 1100px;
    height: 1280px;
    border: 1px solid black;
}

.pm-title{
    display: flex;
    color: #000;
    text-align: center;
    font-size: 54px;
    display: flex;
    width: 1500px;
    height: 64px;
    padding: 10px 12px;
    margin-top: 50px;;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.pm-photobox{
    display: flex;
    width: 250px;
    height: 305px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.pm-memberinfo-title{
    /* display:flex; */
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    background-color: #d9d4d4;
    border-right: 1px solid black;
}

.pm-memberinfo-title2{
    display:inline-block;
    width: 205px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    background-color: #d9d4d4;
    border-right: 1px solid black;
    border-bottom: 1px solid black; 
}

/* .pm-flex{
    display:flex;
} */

.pm-content{
    display: flex;
    /* width: 648px; */
    width: 850px;
    height: 50px;
    border-bottom: 1px solid black;
}

.pm-content2{
    display: flex;
    /* width: 648px; */
    align-items: center;
    width: 1100px;
    height: 200px;
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
}

.pm-input{
    border: 0px solid black;
    outline: none;
}


.pm-test{
   display:table-column;
   width: 180;
   height: 50px;
   text-align: center;
   line-height: 40px;
   background-color: #d9d4d4;
   border-right: 1px solid black;
}

.pm-titlebox{
    display: flex;
    width: 70px;
    height: 200px;
    writing-mode: vertical-lr;
    align-items: center;
    justify-content: center;
    background-color: #d9d4d4;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

}

.pm-titlefontbox{
    display: flex;
    width: 205px;
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #d9d4d4;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.pm-titlefontbox4{
    display: flex;
    width: 205px;
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #d9d4d4;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.pm-titlefontbox2{
    display: flex;
    width: 205px;
    height: 49px;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.pm-titlefontbox3{
    display: flex;
    width: 204.5px;
    height: 49px;
    text-align: center;
    border-bottom: 1px solid black;
}

.pm-font{
    text-align: center;
    white-space: pre;
}

.pm-font2{
    white-space: pre;
    margin-left: 900px;
}

.pm-workbox{
    display: flex;
    width: 1400px;
    height: 230px;
    margin: 100px 0px 30px 80px;
    border: 1px solid black;
}

.pm-job-table{
    border-collapse: collapse;
    margin: 50px 0px 0px 80px ;
    width: 1400px;
    height: 500px;
    border: #7B7B7B solid 1px;
    text-align: center;

font-size: 16px;
}

.pm-job-table th{
    height: 40px;
    background-color: #EEE;
    border: #7B7B7B solid 1px;
}

.pm-job-table td{
    height: 25px;
    flex-direction: column;
    justify-content: center;
    border: #7B7B7B solid 1px;
}

.pm-workin-box{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 230px;
    flex-direction: column;
    border-right: 1px solid black;
}

.pm-workin-box2{
    margin-left: 150px;
    display: flex;
    justify-content: center;
    width: 450px;
    height: 230px;
    flex-direction: column;
    border-right: 1px solid black;
}

.pm-workin-box-last{
    margin-left: 150px;
    display: flex;
    justify-content: center;
    width: 450px;
    height: 230px;
    flex-direction: column;
    /* border-right: 1px solid black; */
}


.pm-work-button:active, .pm-work-button:focus {
    outline:none !important;
    box-shadow:none !important;}

.pm-work-button{
    margin: 10px 30px 10px 10px;
    width: 150px;
    height: 30px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFC338; 
    border-color: #FFC338;
    border-style: none
    /* box-shadow: 0px 0px 0px 0px; */
    /* border: 0;  */
    /* outline: none;  */
}


/* department */

.pm-de-top{
    /* display: flex; */
    width: 1600px;
    height: 100px;
    margin-top: 80px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

.pm-div-font{
    /* display: flex; */
    margin: 32px 0px 30px 10px;
    font-size: 26px;
    font-weight: bold;
}

.pm-department-table{
    border-collapse: collapse;
    margin: 30px;
    width: 1520px;
    height: 730px;
    border: #7B7B7B solid 1px;
    text-align: center;

font-size: 16px;
}

.pm-department-table th{
    height: 40px;
    background-color: #EEE;
    border: #7B7B7B solid 1px;
}

.pm-department-table th.columnpm1{
    width: 300px;
}
.pm-department-table th.columnpm2{
    width: 300px;
} 
.pm-department-table th.columnpm3{
    width: 300px;
} 
.pm-department-table th.columnpm4{
    width: 300px;
} 
.pm-department-table th.columnpm5{
    width: 300px;
} 
.pm-department-table th.columnpm6{
    width: 300px;
} 
.pm-department-table th.columnpm7{
    width: 300px;
} 

.pm-department-table td{
    height: 25px;
    flex-direction: column;
    justify-content: center;
    border: #7B7B7B solid 1px;
}

.pm-department-search{
    border-radius: 6px;
    text-align: center;
    margin-left: 1200px;
    margin-top: 3px;
    height: 20px;
    width: 150px;
}

.pm-department-button{
    width: 60px;
    height: 30px;
    border-radius: 6px;
    margin-left: 15px;
    background-color: #10479A;
    color: white;
}

.pm-de{
    display: flex;
}

.pm-de-add{
    width: 150px;
    height: 40px;
    border-radius: 6px;
    background-color: #10479A;
    color: white;
    text-align: center;
    margin-left: 1220px;
}


/* pm-de-regist*/

.pm-de-section{
    display: flex;
    flex-direction: column;
    width: 1360px;
    height: 648px;
    border: 2px solid black;
    margin: 80px 0px 0px 10px;
}

.pm-de-regist{
    width: 250px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: #d9d4d4;
    border-right: 2px solid rgb(130, 130, 130);
    border-bottom: 2px solid rgb(153, 151, 151);
}
.pm-de-regist-last{
    width: 250px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: #d9d4d4;
    border-right: 2px solid rgb(130, 130, 130);
}
.pm-de-regist-in{
    display: flex;
    width: 1360px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-bottom: 2px solid rgb(153, 151, 151);
}

.pm-de-regist-in-last{
    display: flex;
    width: 1360px;
    height: 80px;
    text-align: center;
    line-height: 80px;
}

.pm-regist-button{
    width: 200px;
    height: 50px;
    border-radius: 6px;
    background-color: #10479A;
    color: white;
    text-align: center;
    margin-left: 1170px;
    margin-top: 50px;

}

/**/
.pm-an-top{
    display: flex;
    width: 1400px;
    height: 100px;
    margin-top: 80px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

.pm-an-search{
    border-radius: 6px;
    text-align: center;
    margin-left: 10px;
    margin-top: 3px;
    height: 20px;
}
.pm-an-search2{
    border-radius: 6px;
    text-align: center;
    margin-top: 3px;
    margin-left: 10px;
    height: 20px;
}

.label-font{
    font-size: 14px;
    margin-left: 870px;
}

.label-font2{
    font-size: 14px;
    margin-left: 20px;
}

/* member-annual */

.pm-ma-top{
    display: flex;
    width: 1600px;
    height: 200px;
    margin-top: 80px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

.pm-ma-table{
    border-collapse: collapse;
    margin: 30px;
    width: 1550px;
    height: 690px;
    border: #7B7B7B solid 1px;
    text-align: center;

font-size: 16px;
}

.pm-ma-table th{
    height: 40px;
    background-color: #EEE;
    border: #7B7B7B solid 1px;
}

/* .pm-ma-table th.columnpm1{
    width: 300px;
}
.pm-ma-table th.columnpm2{
    width: 300px;
} 
.pm-ma-table th.columnpm3{
    width: 300px;
} 
.pm-department-table th.columnpm4{
    width: 300px;
} 
.pm-department-table th.columnpm5{
    width: 300px;
} 
.pm-department-table th.columnpm6{
    width: 300px;
} 
.pm-department-table th.columnpm7{
    width: 300px;
}  */

.pm-ma-table td{
    height: 25px;
    flex-direction: column;
    justify-content: center;
    border: #7B7B7B solid 1px;
}

.pm-ma-box{
    width: 200px;
    height: 100px;
    text-align: center;
    margin-top: 80px;
    /* line-height: 130px; */
}

.pm-ma-box2{
    width: 200px;
    height: 200px;
    /* line-height: 130px; */
    
}
.pm-line {
    border-left : 1px solid #10479A;
    height : 150px;
    margin-top: 20px;
}

.pm-ma-number{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 85px;
}

.pm-ma-font{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
}


/* pm-cal */
.pm-ca-top{
    /* display: flex; */
    width: 1600px;
    height: 730px;
    margin-top: 80px;
    border-bottom: 2px solid black;
}

.pm-ma-regist{
    width: 250px;
    height: 325px;
    text-align: center;
    line-height: 80px;
    background-color: #d9d4d4;
    border-right: 2px solid rgb(130, 130, 130);
    border-bottom: 2px solid rgb(153, 151, 151);
}


.pm-ma-regist{
    width: 250px;
    height: 350px;
    text-align: center;
    line-height: 80px;
    background-color: #d9d4d4;
    border-right: 2px solid rgb(130, 130, 130);
    border-bottom: 2px solid rgb(153, 151, 151);
}
.pm-ma-regist-last{
    display: flex;
    width: 1480px;
    height: 350px;
    text-align: center;
    line-height: 80px;
    border: 2px solid rgb(153, 151, 151);
}
.pm-ma-regist-in{
    display: flex;
    width: 1480px;
    height: 80px;
    text-align: center;
    line-height: 50px;
    border: 2px solid rgb(153, 151, 151);
}


.pm-ma-title-in{
    display: flex;
    width: 1480px;
    height: 51px;
    border: 2px solid rgb(153, 151, 151);
}


.pm-ma-title-box{
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-right: 1px solid rgb(153, 151, 151);
    background-color: #d9d4d4;
}


.pm-ma-add{
    width: 150px;
    height: 40px;
    border-radius: 6px;
    background-color: #10479A;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-left: 1350px;
}

.pm-cal-search{
    border-radius: 6px;
    text-align: center;
    width: 250px;
    height: 40px;
    margin-top: 20px;
}

.pm-cal-search2{
    border-radius: 6px;
    text-align: center;
    width: 250px;
    height: 40px;
    margin: 20px 0px 0px 10px;
}


.pm-cal-top{
    /* display: flex; */
    width: 1500px;
    height: 100px;
    margin-top: 80px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

.pm-divbox{
    width: 1000;
    height: 800;
}

/* 왼쪽 카테고리 메뉴바*/
.leftMenu2{
    height: 1000px;
    border-color: #000;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-bottom-width: 1px;
}

.mainLogo>img{
    margin: 20px 0px 34px 26px;
    width: 205px;
    height: 36px;
}

.mainTitle{
    color: #000;
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
}

.apvNaviBox{
    width: 247px;
    height: 768px;
    padding: 12px;
    border-right : #000;
    box-sizing: border-box
}

.apvNaviBoxTop{
    display: flex;
    width: 197px;
    height: 50px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFC338;
    color: #000;
    text-align: center;
    font-size: 24px;
}

.apvNaviBoxUl li:hover{
    background-color: #EEE;
    font-weight: 600;
}

.apvNaviBoxMainTitle{
    display: flex;
    width: 197px;
    height: 34px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #10479A;
    color: #FFF;
    text-align: center;
    font-size: 20px;
}

.apvNaviBoxEmp{
    height: 10px;
}
.apvNaviBoxUl{
    padding: 0;
}
.apvNaviBoxUl>li{
    display: flex;
    width: 197px;
    height: 26px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
}

/* 임시 div */
/* cal */
.dvi1{
    /* margin: 10px 0px 0px 400px; */
    margin-left: 20px;
}
.dvi2{
    margin-bottom: 20px;
}

.div3{
    margin-left: 20px;
}

.div4{
    display: table-column;
}

.div5{
    display: flex;
}

.div6{
    margin-left: 50px;
}

.div7{
    margin-left: 90px;
}
