

.apvContentTitle{
    grid-column: 1 / span 8;
    display: grid;
    grid-template-columns: 375px 1125px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border-bottom: 1px solid #7B7B7B;
}
.apvContentTitle > div{

    display: flex;
    border-right: 1px solid #7B7B7B;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    background: #EEE;
}

.apvContentTitle .column2{
    height: 50px;
    font-size: 24px;
}

.apvContentTitle > div:nth-child(2n) {
    border-right: none;
    background: none;
}


.apvContentDetail{
    grid-column: 1 / span 8;
    display: flex;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #7B7B7B;
    background: #EEE;
}


.apvContentDetailComent{
    padding: 30px;
    grid-column: 1 / span 8;
    min-height: 100px;
    max-width: 2000px;
    /* border-bottom: 1px solid #7B7B7B; */
    overflow: hidden;
}




.apvContentDetail2{
    grid-column: 1 / span 8;
    display: flex;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #7B7B7B;
}

.apvContentDetailComent2{
    grid-column: 1 / span 8;
    padding: 30px;
    height: auto;
}


.apvContentBiz2{
    grid-column: 1 / span 8;
    display: grid;
    grid-template-columns: 375px 1125px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border-bottom: 1px solid #7B7B7B;
}
.apvContentBiz2 > div{
    display: flex;
    border-right: 1px solid #7B7B7B;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    background: #EEE;
}
.apvContentBiz2 > div:nth-child(2n) {
    border-right: none;
    background: none;
}

.apvContentBiz2 .column2{
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.apvContentBiz2Last{
    grid-column: 1 / span 8;
    display: grid;
    grid-template-columns: 375px 1125px;
    height: auto;
    grid-row: auto;
    text-align: center;
    justify-content: space-around;
    border-bottom: 1px solid #7B7B7B;
}

.apvContentBiz2Last > div{
    padding: 30px;
    display: flex;
    border-right: 1px solid #7B7B7B;
    height: auto;
    flex-direction: column;
    justify-content: center;
    background: #EEE;
    padding: 30px;
}
.apvContentBiz2Last > div:nth-child(2n) {
    border-right: none;
    background: none;
}

.apv-content :last-child{
    border: none;
}



.apvContentTitleBiz3{
    grid-column: 1 / span 8;
    display: grid;
    grid-template-columns: 375px 225px 225px 30px 225px 225px 195px;
    /* grid-auto-rows: 60px; */
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border-bottom: 1px solid #7B7B7B;
}
.apvContentTitleBiz3 > div{
    display: flex;
    height: 80px;
    flex-direction: column;
    justify-content: center;
}
.apvContentTitleBiz3 .column1{
    background: #EEE; 
}

.apvContentTitleBiz3 > div:nth-child(1){
    border-right: 1px solid #7B7B7B;
}




.apvOfficialTop{
    margin-top: 150px;
    font-size: 20px;
}

.apvOfficial2{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.apvOfficial2 > div{
    margin-right: 30px;
}

.apvOfficialBottom{
    grid-column: 1 / span 8;
    display: grid;
    grid-template-columns: 180px 1320px;
    text-align: center;
    justify-content: space-around;
    border-bottom: 1px solid #7B7B7B;
}
.apvOfficialBottom > div{
    padding: 0px 30px;
    display: flex;
    align-items: flex-start;
    border-right: 1px solid #7B7B7B;
    height: 50px;
    flex-direction: column;
    justify-content: center;
}

.apvOfficialBottom .column1{
    display: flex;
    align-items: stretch;

}

.apvOfficialBottom > div:nth-child(2n) {
    border-right: none;
    background: none;
}

.apvOfficialBottom :last-child{
    border-bottom: none;
}


.apvOfficialBottom2{
    grid-column: 1 / span 8;
    display: flex;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #7B7B7B;
    background: #EEE;
}

.apv-apvtitle-custom{
    display: flex;
    text-align: center;
    font-size: 54px;
    display: flex;
    width: 1500px;
    height: 64px;
    padding: 10px 12px;
    margin-top: 50px;;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    border: none;
}


.highcareStamp{
    transform: translate(220%, 30%);
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
}

.highcareText{
    position: absolute;
    top: 50%;
    transform: translate(-70%, -50%);
    font-size: 70px;
    text-align: center;
    /* padding: 8px 12px; */
    z-index: 2; 
}

.highcareImage {
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 1;
}

