.title{

    /* text-align: justify; */
    margin-right: 500px;
    padding: 20px;
}


.task-table {
    /* background-color: white; */
    /* border-collapse: collapse; */
    width: 1520px;
    margin-top: 20px;
    margin-left: 80px;
}

.task-table th, .task-table td {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: auto;
}

.task-table th  {
    background-color: lightgray;
    font-weight: bold;
}


/* 달력, 토글 아웃라인  */
.input1, .categorystate, .workinput {
    border: none;
    outline: none;
    text-align: center;

}


