.navibox {
    text-align: -webkit-center;
    width: 60px;
    align-items: center;
    
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
	background:#10479A; 
	/* box-shadow: inset -5px -10px 10px 0 rgba(0,0,0,.3) */
    
}

.navibox div {

    margin: 40px 0px;
    width: 70%;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #10479A;

    
    

}


.navimenu-main{
    background-image: url("/src/images/home-search-outline.png");
}

.navimenu-note{
    background-image: url("/src/images/note.png");
}

.navimenu-pm{
    background-image: url("/src/images/oragnization.png");
}

.navimenu-approval{
    background-image: url("/src/images/approval.png");
}

.navimenu-mypage{
    background-image: url("/src/images/men.png");
}

.navimenu-schedule{
    background-image: url("/src/images/clock.png");
}

.navimenu-reservation{
    background-image: url("/src/images/reserve.png");
}

/* Isto é necessário para não haver rolagens horizontais quando movermos os elementos */
html, body {overflow-x: hidden;}

body {
	/* font: 100% arial, verdana, tahoma, sans-serif; */
}

/* header {
	padding: 30px;
	overflow: hidden;
} */

header h1 {
	/* display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 80%;
	font-size: 1.5em; */
}
/* h1 a {color: #FFF; text-decoration: none;} */

header input {
	/* float: right;
	padding: 10px;
	width: 200px;
	border: none; */
}

.main {
	/* padding: 30px; */
}
/* .main p {
	font-size: .9em;
	line-height: 1.2em;
	margin-bottom: 20px;
} */

.menu-anchor {
    
	width: 40px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
}

.menu-anchor:before {
	content: "";
	display: block;
	margin: 4px auto;
	width: 70%;
	height: 0.25em;
	background: white;
	box-shadow: 0 .45em 0 0 white, 0 .9em 0 0 white;
}

.menu-active .menu-anchor {background: #10479A}

menu {
    
    position: fixed;
    top: 4%;
    left: -30%;
    z-index: 1;
    width: 150px;
    height: 100%;
    /* padding-top: 10px; */
	/* box-shadow: inset -5px -10px 10px 0 rgba(0,0,0,.3) */
}

.menu-active ul {
    /* background: pink;
    width: 100%; */
}

.menu-active menu, .menu-active li, .menu-active a {
	display: block;
	/* border-bottom: 1px solid rgba(255,255,255,.3); */
	margin: 0 10px;
	padding: 10px;
    /* width: 100%; */
	color: white;
	text-decoration: none;

    
}

menu li a:hover {
	/* background: skyblue; */
	color: #FFC338;
}


/*
	Aqui você esconde o menu para fora da tela 
	O valor é exatamente a largura da sidebar
*/
menu {
	-webkit-transform: translateX(-100px);
	-moz-transform: translateX(-120px);
	-ms-transform: translateX(-120px);
	transform: translateX(-120px);
	-webkit-transition: all 1.25s linear;
	-moz-transition: all 1.25s linear;
	-ms-transition: all 1.25s linear;
	transition: all 1.25s linear;
}

/*
	Essa é a posição original do HEADER e do MAIN
*/
header, .main {
	/* -webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	transition: all .25s linear; */
}

/*
   Com a classe menu-active na tag HTML
*/
.menu-active menu {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.menu-active ul, 
.menu-active .main {
	-webkit-transform: translateX(220px);
	-moz-transform: translateX(220px);
	-ms-transform: translateX(220px);
	transform: translateX(220px);
    transition: 0.5s;
}

.menu-active ul {
    background: #10479A;
    width: 180px;


}

.menu-active a {
    font-weight: bold;
    font-size: 14px;
    width: 100%;
}


@media (max-width: 768px) {
    .navibox {
        width: 100px;
    }
    
    /* 메뉴 아이콘 사이즈 조절 등 반응형 스타일 추가 */
}
