.comment_mod{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width : 400px;
    min-height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f4f4f4;
    resize: none;
  }

  .comment_detail{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width : 400px;
    min-height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f4f4f4;
    border : none;
    resize: none;
    cursor: default;
  }