.title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.searchbox {
    font-size: 16px;
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    text-align: center;
    margin: 20px 0px;
}

.searchbox button {
    width: 70px;
    height: 30px;
    font-size: 16px;
}

.searchbox button:hover {
    width: 70px;
    height: 30px;
    font-size: 16px;
    background-color:#FFC338;
}

.searchbox input, .searchbox select {
    width: 150px;
    height: 30px;
    font-size: 16px;
    margin: 0 0 0 20px;
    text-align: center;
}

.loglist {
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 1400px;
    margin-left: 20px;
    text-align: center;
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
}

.loglist div {
    width: 150px;
    
}

.loglist-redBackground {
    color: red;
    /* background: rgba(255, 112, 112, 0.49); */
}

.loglist-greenBackground {
    color: green;
    /* background: rgba(68, 196, 68, 0.677); */
}

