a {
    text-decoration: none;
}

body {
    font-family: NanumGothic;
    list-style-type:none;
}

section {
    display: flex;
    width: 1840px;

}
.container{
    padding: 0px 50px 50px 50px;
    width: auto;
    height: auto;
}

/* 왼쪽 메뉴바 */
.leftmenu{
    display: flex;
}

/* 왼쪽 아이콘 메뉴바 */ 
.leftmenu1{
    background: #10479A;
    width: 80px;
    height: 1000px;
}

/* 왼쪽 카테고리 메뉴바*/
.leftmenu2{
    height: 1000px;
    border-color: #000;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-bottom-width: 1px;
}

.mainlogo>img{
    margin: 20px 0px 34px 26px;
    width: 205px;
    height: 36px;
}

.maintitle{
    color: #000;
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
}

.apv-navibox{
    width: 247px;
    height: 768px;
    padding: 12px;
    border-right : #000;
    box-sizing: border-box
}

.apv-navibox-top{
    display: flex;
    width: 197px;
    height: 50px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFC338;
    color: #000;
    text-align: center;
    font-size: 24px;
}

.apv-navibox-ul li:hover{
    background-color: #EEE;
    font-weight: 600;
}

.apv-navibox-maintitle{
    display: flex;
    width: 197px;
    height: 34px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #10479A;
    color: #FFF;
    text-align: center;
    font-size: 20px;
}

.apv-navibox-emp{
    height: 10px;
}
.apv-navibox-ul{
    padding: 0;
}
.apv-navibox-ul>li{
    display: flex;
    width: 197px;
    height: 26px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
}



/* 전자결재 메인 */

.apv-mainbox{
    display:inline-flex;
}

.apv-maintoday{
    display: flex;
    border-collapse: collapse;
    margin: 30px;
    justify-content: center;
    border: #10479A solid 4px;
    width: 400px;
    height: auto;
}

.apv-maintoday th{
    background: #FFC338;
    width: 400px;
    height: 44px;
    color: #10479A;
    border-bottom: #10479A solid 4px;
    text-align: center;
    font-size: 24px;
} 

.apv-maintoday td{
    width: 200px;
    height: 53px;
    text-align: center;
    font-size: 24px;
}
.apv-maintoday .today1{
    border-right: #10479A solid 4px;
}

.apv-mainbox1{
    width: 900px;
    height: 160px;
    margin-left: 200px;
}

.apv-mainbox1>span{
    border: solid 1px ;
}

.apv-mainbox1-rightbox{
    display: flex;
}

.apv-mainbox1-right{
    display: flex;
    flex-direction: column;
    margin: 30px 10px;
    border-radius: 6px;
    border: 4px solid #10479A ;
    width: 200px;
    height: 140px;
    padding: 10px 12px;
    justify-content: center;
    align-items: flex-start;
}

.apv-mainbox1-right.apv-mainbox1-right .row1{
    text-align:center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 80px;
    width: 200px;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 2px solid #10479A ;
}
.apv-mainbox1-right.apv-mainbox1-right .row2{
    text-align:center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100px;
    width: 200px;
    font-size: 24px;
}

.apv-mainlist{
    margin: 100px 30px 30px 30px;
    display:inline-flex;
}

.apv-mainlist-my{
    margin-right: 200px;   
}

.apv-mainlist-l-title{
    display: flex;
    width: 300px;
    height: 50px;
    padding: 10px 12px;
    margin-bottom: 30px;
    text-align:center;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 4px solid #10479A ;
    background: #10479A;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
}

.apv-mainlist-rm-list{
    display:inline-flex;
}

.apv-mainlist-mylist>div {
    flex-direction: column;
    display: flex;
    width: 300px;
    height: 50px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #7B7B7B;    
    border-bottom: none;    
    list-style-type:none;
}
.apv-mainlist-mylist > div:last-child {
    border-bottom: 1px solid #7B7B7B;    
}

.apv-mainlist-r-title{
    display: flex;
    width: auto;
    height: 50px;
    padding: 10px 12px;
    text-align:center;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 4px solid #10479A ;
    background: #10479A;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    }

.apv-mainlist-rm-list{
    display:inline-flex;
}

.apv-mainlist-r-list-emp{
    width: 50px;
}

.apv-mainlist-r-list .listtitle{
    flex-direction: column;
    display: flex;
    width: 300px;
    height: 30px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #10479A;
    color: #FFF;
    list-style-type:none;

}

.apv-mainlist-r-list > div {
    flex-direction: column;
    display: flex;
    width: 300px;
    height: 50px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #7B7B7B;
    border-bottom: none;   
    list-style-type:none;
    }

.apv-mainlist-r-list > div:last-child {
    border-bottom: 1px solid #7B7B7B;
    }

    /* 결재 상단바*/
.apv-topbar{
    display: flex;
    width: auto;
    height: 55px;
    background: #EEEEEE;
    align-items: center;
}

.apv-topbar>div{
    margin-left: 50px;
}

.apv-topbar>div>button{
    height: 40px;
    margin-right: 20px;
    padding: 0px 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 0.5px solid #7B7B7B;
}

.apv-topbar>div>button.summit{
    background: #FFC338;
}

/* 문서 타이틀 */
.apv-apvtitle{
    display: flex;
    color: #000;
    text-align: center;
    font-size: 54px;
    display: flex;
    width: 1500px;
    height: 64px;
    padding: 10px 12px;
    margin-top: 50px;;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

/* 결재라인 */
.apv-apvline{
    float: right;
    margin-right: 20px;
    width: 600px;
    height: 175px;
    /* border: 1px solid #7B7B7B; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.apv-apvlinebox{
    width: 150px;
    text-align:center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.apv-apvlinebox .row1 {
    display: flex;
    height: 30px;
    background: #EEEEEE;
    border: 1px solid #7B7B7B;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.apv-apvlinebox .row2 {
    display: flex;
    height: 115px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #7B7B7B;
    border-left: 1px solid #7B7B7B;
}
.apv-apvlinebox .row3{
    display: flex;
    height: 30px;
    background: #EEEEEE;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #7B7B7B;
}

.apv-apvlinebox .row4, .row7, .row10 {
    display: flex;
    height: 30px;
    background: #EEEEEE;
    border-top: 1px solid #7B7B7B;
    border-right: 1px solid #7B7B7B;
    border-bottom: 1px solid #7B7B7B;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.apv-apvlinebox .row5, .row8, .row11{
    display: flex;
    height: 115px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #7B7B7B;
}
.apv-apvlinebox .row6, .row9, .row12{
    display: flex;
    height: 30px;
    background: #EEEEEE;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #7B7B7B;
    border-right: 1px solid #7B7B7B;
    border-bottom: 1px solid #7B7B7B;
}

.apv-content{
    width: 1500px;
    display: inline-grid;
    margin-top: 40px;
    border: 1px solid #7B7B7B;
    grid-template-columns: repeat(8, 187.5px);
    /* grid-auto-rows/: 60px; */
    border: #7B7B7B solid 1px;
    font-size: 24px;
} 



textarea {
    font-family: NanumGothic;
    /* padding: 30px; */
    font-size: 24px;
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
}
.input1{
    font-family: NanumGothic;
    font-size: 24px;
    border: none;
    outline: none;
    resize: none;
    padding-left: 30px;
}
.input2{
    font-family: NanumGothic;
    font-size: 24px;
    border: none;
    outline: none;
    resize: none;
    padding-left: 30px;
    margin-right: 30px;
}



footer{
    margin: 50px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
